<div class="bac">
  <div id="wrapper">
    <div class="aw-login-box">
      <div class="mod-body clearfix">
        <div class="midcontol">
          <div class="logtop">
            <h1 class="log"></h1>
            <h2>集成论坛</h2>
          </div>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label"></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="inputEmail3" placeholder="用户名/邮箱" tips="请输入一个 2-14 位的用户名" errortips="用户名长度不符合">
                <!-- <span class="abc">用户名长度不符合</span> -->
                <span class="abc aw-reg-err">用户名长度不符合</span>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label"></label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword3" placeholder="密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <div class="checkbox">
                  <label class="checkPw">
                    <input type="checkbox"> 记住密码
                  </label>
                  <a herf="#">忘记密码</a>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-normal btn-primary">登录</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="mod-footer">
        <span>还没有账号?</span>&nbsp;&nbsp;
        <a routerLink="/register">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="#">游客访问</a>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="#">问答阅读</a>
      </div>
    </div>
  </div>
  <div class="tianchong">
  </div>
</div>