
<nav class="navbar navbar-inverse fixed-nav">
  <div class="container-fluid margin-auto">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">网站名</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#">页面 2</a></li>
        <li><a href="#">页面 3</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container margin-auto" style="background:#eee; margin-top: 100px;">
  <div class="row">
    <!--左侧内容-->
    <h3 class="left-container">
      左侧内容
    </h3>

    <!--右侧内容-->
    <div class="col-sm-4">
      <!--新注册用户-->
      <h3 class="row">
        新注册用户
      </h3>
      <br/><br/><br/>

      <!--用户积分排名-->
      <h3 class="row">
        积分排行用户
      </h3>

    </div>
  </div>
</div>

<div>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>底部内容</p>
</div>
