<div class="bac">
  <div class="container containercss">
    <div class="tianchongtop"></div>
    <div class="top">
      <a href="">
        <img src="http://wenda.ghostchina.com/static/css/default/img/login_logo.png" alt="">
      </a>
      <h2>注册新用户</h2>
    </div>
    <div class="">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1"></label>
          <input type="text" class="form-control" id="" placeholder="用户名">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1"></label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"></label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
        </div>
        <div class="form-group " style="position: relative;margin: 30px 0 30px 0;">
          <hr>
          <a class="more-information-btn" style="color:#66b7ff;">已有账号？</a>
        </div>
        <div class="form-group">
          <label></label>
          <button type="submit" class="form-control btn btn-myprimary">注册</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container mod-foor">
    <span>使用第三方账号直接登录</span>&nbsp;&nbsp;
    <a href="http://wenda.ghostchina.com/account/openid/sina/" class="btn btn-weibo">
      <i class="icon icon-weibo"></i> 新浪微博登录</a>
    <a href="http://wenda.ghostchina.com/account/openid/qq_login/" class="btn btn-qq">
      <i class="icon icon-qq"></i> QQ登录</a>
  </div>
  <div class="tianchong">
  </div>
</div>